<?xml version="1.0" encoding="utf-8"?>
<!--Specifies the XML version and the character encoding used in the file-->

<configuration>
	<!-- The root element of a .NET configuration file -->
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- This defines the configuration settings for Entity Framework, specifying the assembly and version where the configuration settings are defined -->
  </configSections>
  <runtime>
	<!-- This section contains settings that are related to assembly binding and versioning -->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.1.0.0" newVersion="7.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
	<!-- This section is specifically for Entity Framework configuration -->
    <providers>
	  <!-- This subsection specifies the data provider to use -->
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		<!-- In our case, System.Data.SqlClient is set as the provider, indicating that SQL Server is being used as the database -->
    </providers>
  </entityFramework>
</configuration>

<!-- THIS FILE EXISTS TO SET UP THE ENTITY FRAMEWORK AND ASSEMBLY BINDING REDIRECTIONS-->
