<!-- Similar to the About view -->
<!-- This view is using ViewBag to dynamically display the page title and an optional message, along with static content providing contact information -->

@{
    ViewBag.Title = "Contact";
}

<main aria-labelledby="title">

    <h2 id="title">
        @ViewBag.Title
    </h2>

    <h3>@ViewBag.Message</h3>

    <address>
        <!-- The <address> tags are used to provide contact information -->
        <!-- This information is static (hard-coded in the view) and includes physical addresses, phone numbers, and email addresses with mailto links for support and marketing -->
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
</main>